        .Ban
        {
           margin-left:750px;
        }
        .myinp                         
        {
            background-color:orange;
            font-style:italic;
            font-size:25px;
            color:blue;
        }
        .mytab
        {
            background-color:pink;
            border-style:double;
            border-width:4px;
            border-color:red;
        }
        .Banoj
        {
          width:400px; 
        }
